body {
  margin: 0;
  padding: 0;
  font-family: @base-font-family;
  background: linear-gradient(to bottom right, @body-bg-from, @body-bg-to);
}

section {
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  > div {
    max-width: 850px;
  }
}

.flex-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header {
  font-weight: 100;
  font-size: 1.25rem;
  margin-left: 1rem;
  color: @headline-fg;
}

p {
  margin: 1rem;
  color: @headline-fg;
  font-weight: 100;
  font-size: 1.5rem;
}

h1 {
  color: @headline-fg;
  font-size: 2.25rem;
  margin: 0.25rem 1rem;
  font-weight: 400;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(@headline-fg, 0.35);
  text-shadow: 0 0 2px rgba(@black, 0.2);
}

input {
  border: 0;
  outline: none;
  border-radius: 0.35rem;
  padding: 1rem;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-family: @base-font-family;
  box-shadow: @material-shadow;
}

button {
  background: @button-bg;
  border: 0;
  outline: none;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  border-radius: 0.35rem;
  margin-top: 0.5rem;
  font-family: @base-font-family;
  box-shadow: @material-shadow;
  transition: background 0.2s @elastic;

  &:hover {
    background: darken(@button-bg, 1%);
  }

  &:active {
    background: darken(@button-bg, 3%);
  }
}

.error {
  background: lighten(@red, 30%);
  animation: shake 150ms 2 @elastic;
}

.hidden {
  display: none;
}

@media (max-width: @width-sm) {
  .controls {
    display: flex;
    flex-direction: column;
  }

  .flex-wrap {
    flex-direction: column;

    .container {
      width: 70%;
    }
  }
}
