@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0) rotate(1deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translate(0, 0);
  }
}
