@white: #fff;
@black: #000;
@red: #e53935;
@azure: #61a2e5;
@bluette: #15d3ff;
@purple: #af70ff;
@green: #00e676;

@body-bg-from: @bluette;
@body-bg-to: @purple;

@options-bg: @white;
@options-fg: @azure;

@headline-fg: @white;
@button-bg: @green;

@base-font-family: 'Montserrat', sans-serif;

@material-shadow: 0 1px 3px rgba(@black, 0.12), 0 1px 2px rgba(@black, 0.24);
@elastic: cubic-bezier(0.8, 0, 0, 1);

@width-sm: 640px;
