<template>
  <div id="quizapp">
    <quiz />
  </div>
</template>

<script>
import Quiz from '../components/Quiz'

export default {
  name: 'QuizApp1',
  components: {
    Quiz
  }
}
</script>
<style lang="less">
@import url('../styles/variables.less');
@import url('../styles/keyframes.less');
@import url('../styles/globals.less');
</style>
