<template>
  <div>
    <header>QUESTION {{ number }}</header>
    <h1>{{ question.question }}</h1>

    <div class="flex-wrap">
      <radio
        v-for="(option, index) in question.options"
        :key="index"
        :label="option"
        @change="submitAnswer" />
      <br>
    </div>
  </div>
</template>

<script>
import Radio from './Radio'

export default {
  name: 'Question',
  components: {
    Radio
  },
  props: {
    question: {
      type: Object,
      required: true
    },
    number: {
      type: Number,
      required: true
    }
  },
  methods: {
    submitAnswer(answer) {
      this.$emit('answer', { answer })
    }
  }
}
</script>
