<template>
  <div>
    <section class="intro parallax parallax-back">
      <div>
        <h1>👋 Welcome to {{ title }}!</h1>
        <p>Please insert your name and press START!</p>
        <p class="controls">
          <input
            v-model="user"
            :class="submitted && !user ? 'error' : ''"
            type="text"
            placeholder="Your name">
          <button @click="startQuiz">START!</button>
        </p>
      </div>
    </section>
    <section
      ref="questions"
      :class="introStage ? 'hidden' : 'parallax'">
      <question
        :question="questions.length ? questions[currentQuestion] : {}"
        :number="currentQuestion + 1"
        @answer="handleAnswer" />
    </section>
    <section
      ref="results"
      :class="!resultsStage ? 'hidden' : 'results parallax parallax-back'">
      <result
        :user="user"
        :length="questions.length"
        :correct="correct"
        :perc="perc"
        :better="betterPerc"
        @start="restartQuiz" />
    </section>
  </div>
</template>

<script>
import smoothscroll from 'smoothscroll-polyfill'
import Question from './Question'
import Result from './Result'
import QuizService from '../services/QuizService'
import ParallaxService from '../services/ParallaxService'

export default {
  name: 'Quiz',
  components: {
    Question,
    Result
  },
  data() {
    return {
      introStage: false,
      questionStage: false,
      resultsStage: false,
      title: '',
      questions: [],
      currentQuestion: 0,
      answers: [],
      correct: 0,
      perc: 0,
      betterPerc: 0,
      results: [],
      user: '',
      submitted: false,
      timeouts: []
    }
  },
  mounted() {
    this.getQuiz()
    ParallaxService.watch('section')
  },
  beforeDestroy() {
    ParallaxService.destroy()
    this.timeouts.forEach(timeout => clearTimeout(timeout))
  },
  methods: {
    async getQuiz() {
      const response = await QuizService.fetchQuiz()
      this.title = response.data.quiz.title
      this.questions = response.data.quiz.questions
      this.introStage = true
    },
    startQuiz() {
      smoothscroll.polyfill()

      this.submitted = true

      if (this.user) {
        this.introStage = false
        this.resultsStage = false
        this.questionStage = true
        this.currentQuestion = 0
        this.answers = []
        this.correct = 0
        this.perc = 0
        this.betterPerc = 0
        this.results = []
        this.submitted = false

        this.timeouts.push(
          setTimeout(() => {
            this.$refs.questions.scrollIntoView({
              behavior: 'smooth'
            })
          }, 100)
        )
      }
    },
    restartQuiz() {
      if (this.user) {
        this.introStage = false
        this.questionStage = true
        this.currentQuestion = 0
        this.answers = []
        this.correct = 0
        this.perc = 0
        this.betterPerc = 0
        this.results = []
        this.submitted = false

        this.$refs.questions.scrollIntoView({
          behavior: 'smooth'
        })

        this.timeouts.push(
          setTimeout(() => {
            this.resultsStage = false
          }, 500)
        )
      }
    },
    handleAnswer(e) {
      this.answers[this.currentQuestion] = e.answer
      if (this.currentQuestion + 1 === this.questions.length) {
        this.handleResults()
        this.questionStage = false
        this.resultsStage = true

        this.timeouts.push(
          setTimeout(() => {
            this.$refs.results.scrollIntoView({
              behavior: 'smooth'
            })
          }, 100)
        )
      } else {
        this.currentQuestion++
      }
    },
    handleResults() {
      this.questions.forEach((a, index) => {
        if (this.answers[index] === a.answer) this.correct++
      })
      this.perc = Math.floor((this.correct / this.questions.length) * 100)

      this.getResults().then(results => {
        if (!results.length) {
          this.betterPerc = 100
        } else {
          const worse = results.filter(r => r.result < this.perc).length
          this.betterPerc = Math.floor((worse / results.length) * 100)
        }
        this.addResult(this.user, this.perc)
      })

      this.timeouts.push(
        setTimeout(() => {
          this.currentQuestion = 0
        }, 500)
      )
    },
    async getResults() {
      const response = await QuizService.fetchResults()
      return response.data.results
    },
    async addResult(user, result) {
      const response = await QuizService.addResult({
        user,
        result
      })
    }
  }
}
</script>
<style lang="less" scoped>
.intro {
  background-image: url('../assets/mat-pattern-1.jpg');
}

.results {
  background-image: url('../assets/mat-pattern-2.jpg');
}

.parallax-back {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
</style>
