<template>
  <label class="container">
    {{ label }}
    <input
      v-model="answer"
      type="radio"
      @change="change">
  </label>
</template>

<script>
export default {
  name: 'Radio',
  props: {
    label: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      answer: ''
    }
  },
  methods: {
    change() {
      this.$emit('change', this.label)
      this.answer = ''
    }
  }
}
</script>

<style lang="less" scoped>
@import url('../styles/variables.less');

.container {
  display: block;
  font-size: 1.25rem;
  cursor: default;
  user-select: none;
  box-shadow: @material-shadow;
  border-radius: 0.35rem;
  background: @options-bg;
  color: @options-fg;
  margin: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  white-space: nowrap;
  min-width: 32%;
  transition: background 0.2s @elastic;

  &:not(.disabled) {
    &:hover {
      background: darken(@options-bg, 10%);
    }

    &:active {
      background: darken(@options-bg, 15%);
    }
  }

  &.disabled {
    background: darken(@options-bg, 15%);
  }
}

input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
</style>
