<template>
  <div>
    <h1 v-if="perc >= 50">🏆 Congrats {{ user }}!</h1>
    <h1 v-if="perc < 50">💩 You can do better {{ user }}!</h1>
    <p>You got {{ correct }} right out of {{ length }} questions. Your percentage is {{ perc }}%.</p>
    <p v-if="better === 100">Great stuff! You did better than anyone else!</p>
    <p v-else-if="better === 0">So far no one did worse than you ...</p>
    <p v-else>You did better than {{ better }}% of the total users!</p>
    <p class="controls">
      <button @click="start">DO IT AGAIN!</button>
    </p>
  </div>
</template>
<script>
export default {
  name: 'Result',
  props: {
    user: {
      type: String,
      required: true
    },
    correct: {
      type: Number,
      required: true
    },
    length: {
      type: Number,
      required: true
    },
    perc: {
      type: Number,
      required: true
    },
    better: {
      type: Number,
      required: true
    }
  },
  methods: {
    start() {
      this.$emit('start')
    }
  }
}
</script>
